httpx[http2]==0.27.2
tls-client==1.0.1
playwright==1.47.0
colorama==0.4.6
faker==30.3.0
pyyaml==6.0.2
beautifulsoup4==4.12.3
fastapi==0.115.0
uvicorn[standard]==0.30.6
jinja2==3.1.4
python-multipart==0.0.12
